/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        L0 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Y  &kp C        &kp L           &kp M           &kp K        &kp Z    &kp F            &kp U                 &td MINUS COMMA      &td SEMICOLON COLON  &none
&none  &kp I  &hm LCTRL S  &hm LEFT_ALT R  &hm LEFT_GUI T  &kp G        &kp P    &hm RIGHT_GUI N  &hm RIGHT_ALT E       &hm RCTRL A          &kp O                &none
&none  &kp Q  &kp V        &kp W           &kp D           &kp J        &kp B    &kp H            &td UNDERSCORE SLASH  &td EXCLAMATION DOT  &kp X                &none
                           &kp ESCAPE      &kp LEFT_SHIFT  &kp SPACE    &kp RET  &to 1            &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&none  &trans  &trans                  &kp KP_NUMBER_8          &kp KP_NUMBER_6                &kp KP_NUMBER_4    &kp KP_NUMBER_5      &kp KP_NUMBER_7                  &kp KP_NUMBER_9            &trans                   &trans  &none
&none  &trans  &hm LCTRL LEFT_BRACKET  &hm LEFT_ALT LEFT_BRACE  &hm LEFT_GUI LEFT_PARENTHESIS  &kp KP_NUMBER_2    &kp KP_NUMBER_3      &hm RIGHT_GUI RIGHT_PARENTHESIS  &hm RIGHT_ALT RIGHT_BRACE  &hm RCTRL RIGHT_BRACKET  &trans  &none
&none  &trans  &trans                  &trans                   &trans                         &kp KP_NUMBER_0    &kp LG(KP_NUMBER_1)  &trans                           &kp BACKSLASH              &trans                   &trans  &none
                                       &kp ESCAPE               &kp LEFT_SHIFT                 &kp SPACE          &kp RET              &to 1                            &kp BACKSPACE
            >;
        };
    };
};
